# Lists, Tuples, and Sets

### List Exercises: Level 1

Task 1: Declare an empty list

In [ ]:
empty_list = []
print(len(empty_list))

Task 2: Declare a list with more than 5 items

In [ ]:
programming_languages = ['Python', 'Java', 'Scala', 'R', 'C', 'C#', 'JavaScript', 'C++']

Task 3: Find the length of your list

In [ ]:
print(len(programming_languages))

Task 4: Get the first item, the middle item and the last item of the list

In [ ]:
first_item = programming_languages[0]
middle_item = programming_languages[len(programming_languages)//2]
last_item = programming_languages[-1]
print(first_item)
print(middle_item)
print(last_item)

Task 5: Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

In [ ]:
mixed_data_type = ['Aminu', 31, 1.67, False, 'Mubi']
print(mixed_data_type)

Task 6: Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

In [ ]:
it_companies = ['Facebook', 'Google', 'Microsft', 'Apple', 'IBM', 'Oracle', 'Amazon']

Task 7: Print the list using print()

In [ ]:
print(it_companies)

Task 8: Print the number of companies in the list

In [ ]:
print('Number of companies:', len(it_companies))

Task 9: Print the first, middle and last company

In [ ]:
print('First company:', it_companies[0])
print('Middle company:', it_companies[len(it_companies)//2])
print('Last company:', it_companies[-1])

Task 10: Print the list after modifying one of the companies

In [ ]:
it_companies[0] = 'OpenAI'
print(it_companies)

Task 11: Add an IT company to it_companies

In [ ]:
it_companies.append('Intel')
print(it_companies)

Task 12: Insert an IT company in the middle of the companies list

In [ ]:
it_companies.insert(len(it_companies)//2, 'SAP')
print(it_companies)

Task 13: Change one of the it_companies names to uppercase (IBM excluded!)

In [ ]:
it_companies[-1] = it_companies[-1].upper()
print(it_companies)

Task 14: Join the it_companies with a string '#;  '

In [ ]:
joined_string = '#; '.join(it_companies)
print(joined_string)

Task 15: Check if a certain company exists in the it_companies list.

In [ ]:
print('OpenAI' in it_companies)

Task 16: Sort the list using sort() method

In [ ]:
it_companies.sort()
print(it_companies)

Task 17: Reverse the list in descending order using reverse() method

In [ ]:
it_companies.reverse()
print(it_companies)

Task 18: Slice out the first 3 companies from the list

In [ ]:
first_three_companies = it_companies[0:3]
print(first_three_companies)

Task 19: Slice out the last 3 companies from the list

In [ ]:
last_three_companies = it_companies[-3:]
print(last_three_companies)

Task 20: Slice out the middle IT company or companies from the list

In [ ]:
middle_it_company = it_companies[len(it_companies)//2]
print(middle_it_company)

Task 21: Remove the first IT company from the list

In [ ]:
del it_companies[0]
print(it_companies)

Task 22: Remove the middle IT company or companies from the list

In [ ]:
it_companies.pop(len(it_companies)//2)
print(it_companies)

Task 23: Remove the last IT company from the list

In [ ]:
it_companies.pop()
print(it_companies)

Task 24: Remove all IT companies from the list

In [ ]:
it_companies.clear()
print(len(it_companies))

Task 25: Destroy the IT companies list

In [ ]:
del it_companies
print(it_companies)

Task 26: Join the following lists:

```python
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
```

In [ ]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
joined_list = front_end + back_end
print(joined_list)

Task 27: After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack, then insert Python and SQL after Redux.

In [ ]:
full_stack = joined_list.copy()
print(full_stack)
full_stack.insert(5, 'Python')
print(full_stack)
full_stack.insert(6, 'SQL')
print(full_stack)

### List Exercises: Level 2

Task 1: The following is a list of 10 students ages:

```python
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
```

- Sort the list and find the min and max age

In [ ]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
min_age = min(ages)
max_age = max(ages)
print('Sorted ages:', ages)
print('Minimun age:', min_age)
print('Maximun age:', max_age)

- Add the min age and the max age again to the list

In [ ]:
ages.append(min_age)
ages.append(max_age)
print('Ages:', ages)

- Find the median age (one middle item or two middle items divided by two)

In [ ]:
sorted_ages = sorted(ages)
if len(ages) % 2 == 0:
    middle_item1 = len(ages)//2 - 1
    middle_item2 = len(ages)//2
    median_age = (sorted_ages[middle_item1] + sorted_ages[middle_item2]) / 2
else:
    middle_index = len(ages)//2
    median_age = sorted_ages[middle_index] 
print(f'The median age is: {median_age:.0f}')

- Find the average age (sum of all items divided by their number )

In [ ]:
total_age = sum(ages)
num_of_ages = len(ages)
averageg_age = total_age / num_of_ages
print(f'The average age is: {averageg_age:.0f}')

- Find the range of the ages (max minus min)

In [ ]:
age_range = max_age - min_age
print(f'The age range is: {age_range}')

- Compare the value of (min - average) and (max - average), use abs() method

In [ ]:
print(abs(min_age - averageg_age) > abs(max_age - averageg_age))

Task 2: Find the middle country(ies) in the countries list

In [ ]:
countries = ['Japan', 'Nigeria', 'South Africa', 'Canada', 'Ghana', 'Senegal', 'Kenya', 'Uganda', 'Egypt', 'USA']
if len(countries) % 2 == 1:
    middle_country = countries[len(countries)//2]
    print(f'The middle country is: {middle_country}')
else:
    middle_country_one = countries[len(countries)//2 - 1]
    middle_country_two = countries[len(countries)//2]
    print(f"The middle countries are: {middle_country_one} and {middle_country_two}")

Task 3: Divide the countries list into two equal lists if it is even if not one more country for the first half.

In [ ]:
countries = ['Japan', 'Nigeria', 'South Africa', 'Canada', 'Ghana', 'Senegal', 'Kenya', 'Uganda', 'Egypt', 'USA']
if len(countries) % 2 == 0:
    first_half = countries[:len(countries)//2]
    second_half = countries[len(countries)//2:]
else:
    first_half = countries[:len(countries)//2 + 1]
    second_half = countries[len(countries)//2 + 1:]

print(f"The number of countries in the countries list is: {len(countries)}")
print(f"The number in the first half is: {len(first_half)}")
print(f"The number in the second half is: {len(second_half)}")

3. ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']. Unpack the first three countries and the rest as scandic countries.

In [ ]:
countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
CH, RU, US, *scandic = countries
print(CH) 
print(RU) 
print(US) 
print(scandic)

### Tuple Exercises: Level 1

Task 1: Create an empty tuple

In [ ]:
emptty_tuple = ()

Task 2: Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)

In [ ]:
sisters = ('Fatima', 'Maryam', 'Faiza', 'Rahina', 'Sakina')
brothers = ('Muhammed', 'Abubakar', )

print(sisters)
print(brothers)

Task 3: Join brothers and sisters tuples and assign it to siblings

In [ ]:
siblings = sisters + brothers

print(siblings)

Task 4: How many siblings do you have?

In [ ]:
print(f"I have {len(siblings)} siblings")

Task 5: Modify the siblings tuple and add the name of your father and mother and assign it to family_members

In [ ]:
father_name = 'Ahmed'
mother_name = 'Sadiya'

family_members = siblings + (father_name, mother_name)

print(family_members)

### Tuple Exercises: Level 2

Task 1: Unpack siblings and parents from family_members

In [ ]:
# find the index of father (first parent)
father_index = family_members.index(father_name)
siblings = family_members[:father_index]
parent = family_members[father_index:]

print(siblings)
print(parent)

Task 2: Create fruits, vegetables and animal products tuples. Join the three tuples and assign it to a variable called food_stuff_tp.

In [ ]:
fruits = ("apple", "banana", "mango",)
vegetables = ("carrot", "cabbage", "spinach")
animal_products = ("milk", "egg", "beef")

food_stuff_tp = fruits + vegetables + animal_products

print(food_stuff_tp)

Task 3: Change the about food_stuff_tp tuple to a food_stuff_lt list

In [ ]:
food_stuff_lt = list(food_stuff_tp)

print(food_stuff_lt)

Task 4: Slice out the middle item or items from the food_stuff_tp tuple or food_stuff_lt list.

In [ ]:
middle_item = food_stuff_tp[len(food_stuff_tp)//2]

print(f"The middle item is approximately {middle_item}")

Task 5: Slice out the first three items and the last three items from food_staff_lt list

In [ ]:
first_three_items = food_stuff_lt[:3]
last_three_items = food_stuff_lt[-3:]

print(f"The first three items are {first_three_items}")
print(f"The last three items are {last_three_items}")

Task 6: Delete the food_staff_tp tuple completely

In [ ]:
del food_stuff_tp

print(food_stuff_tp)

Task 7: Check if an item exists in tuple:

- Check if 'Estonia' is a nordic country

- Check if 'Iceland' is a nordic country

```py
nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')
```

In [ ]:
nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')

is_estonia_nordic = 'Estonia' in nordic_countries
is_iceland_nordic = 'Iceland' in nordic_countries

print(f"Estonia is a Nordic country: {is_estonia_nordic}")
print(f"Iceland is a Nordic country: {is_iceland_nordic}")

### Sets Exercises: Level 1

Declare a set it_companies:

In [ ]:
# set
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}

Task 1: Find the length of the set it_companies

In [ ]:
print(len(it_companies))

Task 2: Add 'Twitter' to it_companies

In [ ]:
it_companies.add('Twitter')
print(it_companies)

Task 3: Insert multiple IT companies at once to the set it_companies

In [ ]:
it_companies.update(['SAP', 'Accenture', 'Intel'])
print(it_companies)

Task 4: Remove one of the companies from the set it_companies

In [ ]:
it_companies.remove('Oracle')
print(it_companies)

Task 5: What is the difference between remove and discard?

The difference is remove() throws an error if the item is not found in the set, while discard() does not. For example, I'll attempt to remove 'Mediatek' and 'TikTok' from it_companies to see what will happen, even though they're not in the set:

In [ ]:
# Does not throw error
it_companies.discard('Mediatek')
print('No error!')

# Throws an error
it_companies.remove('Tiktok')

### Sets Exercises: Level 2

Declare sets A and B:

In [ ]:
# sets
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

Task 1: Join A and B

In [ ]:
print('A union B:', A.union(B))

Task 2: Find A intersection B

In [ ]:
print('A intersect B:', A.intersection(B))

Task 3: Is A subset of B

In [ ]:
print('Is A subset of B?', A.issubset(B))

Task 4: Are A and B disjoint sets

In [ ]:
print('Are A and B disjoint?', A.isdisjoint(B))

Task 5: Join A with B and B with A

In [ ]:
print('A with B:', A.union(B))
print('B with A:', B.union(A))

Task 6: What is the symmetric difference between A and B

In [ ]:
print('Symmetric difference between A and B:', A.symmetric_difference(B))

Task 7: Delete the sets completely

In [ ]:
del A, B
print(B) # Throws error

### Sets Exercises: Level 3

Task 1: Convert the ages to a set and compare the length of the list and the set, which one is bigger?

```python
ages = [22, 19, 24, 25, 26, 24, 25, 24]
```

In [ ]:
# Declare the ages list
ages = [22, 19, 24, 25, 26, 24, 25, 24]
# Convert ages to a set
ages_st = set(ages)
# Compare the length of the list and set
print('Is ages bigger than ages_st?', len(ages) > len(ages_st))

Task 2: Explain the difference between the following data types: string, list, tuple and set

**String**: A string is a sequence of characters (alphabets, numbers, and symbols) which cannot be modified (immutable).

**List**: A list is a collection of items of different data types which is ordered and can be modified (mutable).

**Tuple**: A tuple is a collection of items of different data types which is ordered but immutable.

**Set**: A set is a collection of unique items which is unordered and mutable.

Task 3: _I am a teacher and I love to inspire and teach people._ How many unique words have been used in the sentence? Use the split methods and set to get the unique words.

In [ ]:
sentence = "I am a teacher and I love to inspire and teach people"
words = set(sentence.split())
print(f"There are {len(words)} unique words in the sentence!")