# Lists, Tuples, and Sets

### Exercises: Level 1

Task 1: Declare an empty list

In [ ]:
empty_list = []
print(len(empty_list))

Task 2: Declare a list with more than 5 items

In [ ]:
programming_languages = ['Python', 'Java', 'Scala', 'R', 'C', 'C#', 'JavaScript', 'C++']

Task 3: Find the length of your list

In [ ]:
print(len(programming_languages))

Task 4: Get the first item, the middle item and the last item of the list

In [ ]:
first_item = programming_languages[0]
middle_item = programming_languages[len(programming_languages)//2]
last_item = programming_languages[-1]
print(first_item)
print(middle_item)
print(last_item)

Task 5: Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

In [ ]:
mixed_data_type = ['Aminu', 31, 1.67, False, 'Mubi']
print(mixed_data_type)

Task 6: Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

In [ ]:
it_companies = ['Facebook', 'Google', 'Microsft', 'Apple', 'IBM', 'Oracle', 'Amazon']

Task 7: Print the list using print()

In [ ]:
print(it_companies)

Task 8: Print the number of companies in the list

In [ ]:
print('Number of companies:', len(it_companies))

Task 9: Print the first, middle and last company

In [ ]:
print('First company:', it_companies[0])
print('Middle company:', it_companies[len(it_companies)//2])
print('Last company:', it_companies[-1])

Task 10: Print the list after modifying one of the companies

In [ ]:
it_companies[0] = 'OpenAI'
print(it_companies)

Task 11: Add an IT company to it_companies

In [ ]:
it_companies.append('Intel')
print(it_companies)

Task 12: Insert an IT company in the middle of the companies list

In [ ]:
it_companies.insert(len(it_companies)//2, 'SAP')
print(it_companies)

Task 13: Change one of the it_companies names to uppercase (IBM excluded!)

In [ ]:
it_companies[-1] = it_companies[-1].upper()
print(it_companies)

Task 14: Join the it_companies with a string '#;  '

In [ ]:
joined_string = '#; '.join(it_companies)
print(joined_string)

Task 15: Check if a certain company exists in the it_companies list.

In [ ]:
print('OpenAI' in it_companies)

Task 16: Sort the list using sort() method

In [ ]:
it_companies.sort()
print(it_companies)

Task 17: Reverse the list in descending order using reverse() method

In [ ]:
it_companies.reverse()
print(it_companies)

Task 18: Slice out the first 3 companies from the list

In [ ]:
first_three_companies = it_companies[0:3]
print(first_three_companies)

Task 19: Slice out the last 3 companies from the list

In [ ]:
last_three_companies = it_companies[-3:]
print(last_three_companies)

Task 20: Slice out the middle IT company or companies from the list

In [ ]:
middle_it_company = it_companies[len(it_companies)//2]
print(middle_it_company)

Task 21: Remove the first IT company from the list

In [ ]:
del it_companies[0]
print(it_companies)

Task 22: Remove the middle IT company or companies from the list

In [ ]:
it_companies.pop(len(it_companies)//2)
print(it_companies)

Task 23: Remove the last IT company from the list

In [ ]:
it_companies.pop()
print(it_companies)

Task 24: Remove all IT companies from the list

In [ ]:
it_companies.clear()
print(len(it_companies))

Task 25: Destroy the IT companies list

In [ ]:
del it_companies
print(it_companies)

Task 26: Join the following lists:

```python
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
```

In [ ]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
joined_list = front_end + back_end
print(joined_list)

Task 27: After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack, then insert Python and SQL after Redux.

In [ ]:
full_stack = joined_list.copy()
print(full_stack)
full_stack.insert(5, 'Python')
print(full_stack)
full_stack.insert(6, 'SQL')
print(full_stack)